{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Organise{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <nav>
        <div class="upper-nav-container">
            <ul>
                <li><a href="{% url "Content:home" %}">Home</a></li>
                <li><a href="{% url "Content:favs" %}">Favourite</a></li>
                <li><a href="{% url "Content:notes" %}">Notes</a></li>
                <li><a href="{% url "Content:todolists" %}">To do lists</a></li>
                <li><a href="{% url "Content:create_content" %}">Create</a></li>
            </ul>
        </div>
        <div class="lower-nav-container">
            <ul>
                <li><a href="{% url "User:register" %}">Sign up</a></li>
                <li><a href="{% url "User:login" %}">Log in</a></li>
                <li><a href="{% url "User:logout" %}">Log out</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>